doctype html
html
  head
    title= title
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect
    link(href='/css/roboto.min.css', rel='stylesheet')
    link(href='/css/material.min.css', rel='stylesheet')
    link(href='/css/ripples.min.css', rel='stylesheet')
  body
    block content